*{
    box-sizing: border-box;
    margin: 0;
}


nav{
    background-color: rgb(255, 118, 65);
    direction: rtl;
    height: auto;
    border-bottom: 5px solid #000;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
}

.nv{
    font-family: "Rubik", sans-serif;
    width: auto;

    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: rgb(14, 14, 14);
    transition: 0.5s;
    display: inline-flex;
    flex-direction: column;
}
.sercha{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    border-radius: 0px 20px 20px 0px;
    align-items: center;
    border: none;
    
}
.sercha:active{
    border: none;
}
.serch{
    background-color: #ffffff;
    border-radius: 20px 0px 0px 20px;
    font-size: 20px;
    padding: 2px;
    padding-bottom: 5px;
    margin-right: -5px;
    border: none;
}

.one{
    margin-top: 2px;
    background-color: rgb(0, 38, 72);
    border-radius: 20px;
    width: 0px;
    height: 5px;
    transition: 0.5s;
}
.nv:hover .one{
    width: 100%;
}
.border{
    text-align: center;
    border-bottom: #000 solid 5px;
    background-image: url(sh.png);
    background-size: 90%;
    height: 500px;
    position: relative;
    overflow: hidden;
    background-position: center;
    z-index: -1;
    margin-top: 70px;
}
.sh{
    transform: translate(270% , 540%);
    width: 300px;
    height: 80px;
    font-size: 50px;
    background-image: url(bu.png);
    background-size: 100%;
    border-radius: 50px;
    color: aliceblue;
    text-shadow: 0px 0px 10px#000 ;
    font-family: "Rubik", sans-serif;
    transition: 0.5s;
    
}
.sh:hover{
    box-shadow: 0px 0px 15px rgb(83, 83, 83);
}

.chi{
    z-index: -1;
    margin-top: 50px;
    width: 400px;
    background-color: #b6b3bc;
    margin-left: 70px;
    height: 500px;
    transition: 1s;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0 5px 15px rgb(0, 0, 0);
    background: linear-gradient(rgb(229, 235, 253),rgb(255, 121, 25),rgb(220, 116, 103),rgb(229, 235, 253)
    );
    animation: chi 1s ease-in-out infinite alternate;
}
@keyframes chi {
    0%   { background-position:   0% 50%; }
    100% { background-position: 400% 50%; }
}

.chii{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding: 10px;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    
}
.chi:hover{
    transform: translateY(-30px);
    box-shadow: 0 15px 15px black;
}

.tbh{
    width: 100%;
    height: 300px;
}
.sho{
        display: inline-block;
        align-items: center;
    }
.chi p{
    border-radius: 20px;
    margin-top: 50px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
    background-color: #ffffffc5;
}

.tbh{
    background-image: linear-gradient(20deg,#fac791,rgb(255, 111, 0));
    margin-top: 20px;
    text-align: center;
    
}
.menu{
    display: none;
    position: sticky;
    height: 1000px;
    width: 100px;
    margin-top: -51px;
    background-color: #ffa68b;
}
.me{
    text-decoration: none;
    color: #000;
}
.hdl{
    display: none;
}
.mr:hover .menu{
    display: block;
}

.psh{
    width: 300px;
    height: 450px;
    border: solid black 2px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0px 3px 5px#000;
    margin: 20px;
    
}
.psh p{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #ffba9f;
    padding: 10px;
}
.av{
    margin-top: 100px;
    margin-left: 60px;
}
.psh img{
    width: 100%;
    border-radius: 10px;
    border: #000 solid 1px;
}
.msh{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-radius: 50px;
    font-family: "Rubik", sans-serif;
    background-color: #ff4800;
    transition: 1s;
}
.msh:hover{
    background-color: #ff864e;
    color: #000000;
}
.la{
    height: 300px;
}
.log{
    width: 50px;
    float: left;

    border-radius: 50px;
}
@media only screen and (max-width:500px){

    nav{
        width: 100%; 
        
    }
    .sercha{
        width: 120px;
        font-size: 15px;
    }
    .sh{
        width: 100px;
        height: 25px;
        transform: translate(200px,155px);
        font-size: 10px;
    }
    .serch{
        font-size: 15px;
        position: absolute;
        padding-bottom: 6px;
    }
    .nv{
        font-size: 15px;
        padding: 0px;
        margin: 5;
    }
    .log{
        width: 30px;
    }
    .chi{
        display: none;
    }

    .border{
        margin-top: 20px;
        background-size: 130%;
        height: 200px;
    }
    .av{
        margin: 5px;
    }
    .psh{
        width: 170px;
        height: 250px;
        margin: 0;
        margin-top: 10px; 
        box-shadow: 0px 0px 5px orangered;
        border: none;
    }
    .psh p{
        font-size: 10px;
    }
    .psh a{
        font-size: 10px;
    }

}
